.h1 {
  width: 495px;
  height: 108px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 45px;
  color: #3751fe;
}

.subtitle {
  width: 362px;
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 70px;
  margin-top: 22px;
}
.para {
  width: 145px;
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.61);
}
